@model WebApplicationSampleTest2.Models.IPDAdmissionModel

@{
    ViewData["Title"] = "Edit IPD Admission";
}

<h4 class="mb-4">Edit IPD Admission</h4>

<div class="card">
    <div class="card-body">

        <form asp-action="Edit" asp-controller="IPDAdmission" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.IPDId)
            @Html.HiddenFor(x => x.PatientId)
            @Html.HiddenFor(x => x.IsFromAppointment)
            <input type="hidden" asp-for="OPDVisitId" />
            <!-- ================= PATIENT SECTION ================= -->
            <div class="row mb-3">


                <div class="row mb-3 justify-content-end">
                    <div class="col-md-4 position-relative">
                        <label class="form-label">Search Patient (Mobile)</label>
                        <input type="text"
                               id="SearchPatient"
                               class="form-control"
                               placeholder="Enter mobile number"
                               autocomplete="off" />
                        <ul id="patientResult"
                            class="list-group position-absolute w-100"
                            style="z-index:1000; display:none;">
                        </ul>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Patient Name</label>
                        <input asp-for="PatientName" id="PatientNameInput" class="form-control" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Doctor</label>
                        <select asp-for="PrimaryDoctorId" class="form-control" id="Doctor_Id">
                            <option value="">-- Select Doctor --</option>
                            @foreach (var d in ViewBag.Doctors)
                            {
                                <option value="@d.Doctor_Id">@d.FirstName @d.LastName</option>
                            }
                        </select>
                    </div>


                </div>



            </div>

            <!-- ================= ADMISSION DETAILS ================= -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Admission Number</label>
                    <input asp-for="AdmissionNumber" class="form-control" readonly />
                </div>

                <div class="col-md-6">
                    <label class="form-label">Admission Type</label>
                    <input asp-for="AdmissionType" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Admission Source</label>
                    <input asp-for="AdmissionSource" class="form-control" />
                </div>

                <div class="col-md-6">

                    <label class="form-label">Expected Discharge </label>
                    <input asp-for="ExpectedDischargeDateTime" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="Admitted">Admitted</option>
                        <option value="Discharged">Discharged</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Active Admission</label>
                    <select asp-for="IsActiveAdmission" id="IsActive" class="form-select">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Reference Doctor</label>
                    <select asp-for="ReferringDoctorId" id="ReferenceDoctorId" class="form-control">
                        <option value="">-- Select Reference Doctor --</option>
                        @foreach (var r in ViewBag.ReferenceDoctors)
                        {
                            <option value="@r.ReferenceDoctorId">
                                @r.DoctorName
                            </option>
                        }
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Reason For Admission</label>
                    <textarea asp-for="ReasonForAdmission" class="form-control" rows="3"></textarea>
                </div>

            </div>
            @* <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Reason For Admission</label>
                    <textarea asp-for="ReasonForAdmission" class="form-control" rows="3"></textarea>                
                </div>                
              
            </div> *@

            <!-- ================= BUTTONS ================= -->
            <button type="submit" class="btn btn-primary">
                Update
            </button>

            <a asp-action="Index" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
</div>

@section Scripts {
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script>

        //     $(document).ready(function () {

        //     $.ajax({
        //         url: '@Url.Action("GetReferenceDoctors", "IPDAdmission")',
        //         type: 'GET',
        //         success: function (data) {

        //             $("#ReferenceDoctorId").empty();
        //             $("#ReferenceDoctorId").append('<option value="">-- Select Reference Doctor --</option>');

        //             $.each(data, function (i, item) {
        //                 $("#ReferenceDoctorId").append(
        //                     '<option value="' + item.id + '">' + item.name + '</option>'
        //                 );
        //             });
        //         },
        //         error: function (xhr) {
        //             console.log(xhr.responseText);
        //             alert("Failed to load Reference Doctors");
        //         }
        //     });

        // });
    </script>

    @if (!Model.IsFromAppointment)
    {
        <script>
            $(document).ready(function () {

                // ================= PATIENT SEARCH =================
                $("#SearchPatient").keyup(function () {
                    let search = $(this).val();

                    if (search.length < 3) {
                        $("#patientResult").hide();
                        return;
                    }

                    $.get('/IPDAdmission/SearchPatientByMobile', { search: search }, function (res) {
                        $("#patientResult").empty();

                        if (!res || res.length === 0) {
                            $("#patientResult").append(
                                '<li class="list-group-item text-danger">Patient not found</li>');
                        } else {
                           $.each(res, function (i, item) {
                            $("#patientResult").append(`
                              <li class="list-group-item patient-item"
                                data-id="${item.id}"
                                data-name="${item.name}">
                                ${item.mobile} - ${item.name}
                              </li>
                            `);
                           });
                        }

                        $("#patientResult").show();
                    });
                });

                $(document).on("click", ".patient-item", function () {
                    var id = $(this).data("id");
                     var name = $(this).data("name");
                     $("input[name='PatientId']").val(id);
                      $("#PatientNameInput").val(name);
                    $("#patientResult").hide();
                });

                // ================= DOCTOR DROPDOWN =================
                $.get('/IPDAdmission/GetDoctors', function (data) {
                    var doctorDropdown = $('#Doctor_Id');

                    $.each(data, function (i, d) {
                        doctorDropdown.append('<option value="' + d.id + '">Dr. ' + d.name + '</option>');
                    });
                });
            });
        </script>

    }
}